@font-face{
	font-family: comfortaa;
	src: url("fonts/Comfortaa-VariableFont_wght.ttf");
}
@font-face{
	font-family: rubikglitch;
	src: url("fonts/RubikGlitch-Regular.ttf");
}
body{
	margin: 0;
	font-size: 0;
	background-color: #111;
	font-family: comfortaa;
	min-width: 719px;
}
#header{
	position: fixed;
	left: 10px;
	top: 10px;
	right: 10px;
	min-height: 70px;
	background-color: rgba(34, 34, 34, 0.5);
	-webkit-backdrop-filter: blur(10px);	/* для різних систем */
	backdrop-filter: blur(10px);			/* для різних систем */
	border-radius: 10px;
	box-shadow: 0 0 10px #000;
	font-family: rubikglitch;
	transition-duration: 200ms;
	z-index: 1000;
}
#header.active{
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
}
#header a{
	text-decoration-line: none;
}
#header .logo{
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	background-color: rgba(34, 34, 34, 0.5);
	border-radius: 10px;
	/*border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;*/
}
#header .logo-img{
	height: 50px;
}
#header .btns-left{
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}
#header .btns-right{
	position: absolute;
	display: inline-block;
	vertical-align: top;
	right: 0;
	top: 0;
	padding: 10px;
}
#header .btn{
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 10px;
	height: 30px;
	font-size: 30px;
	line-height: 30px;
	color: #FFF;
	border-radius: 10px;
	transition-duration: 200ms;
	-webkit-backdrop-filter: blur(0px);
	backdrop-filter: blur(0px);
}
#header .btn:hover{		/* :hover - псевдоклас, працює при наведенні */
	background-color: rgba(34, 34, 34, 0.5);
}
#header .spec-btn{
	display: none;
	margin: 10px;
	width: 30px;
	cursor: pointer;
	text-align: center;
	margin-left: 10px;
}
#content{
	min-height: 100vh;	/* мінімальна висота - 100% вікна вравзера */
}
#content .block{

}
#block1{
	position: relative;
}
#block1 img.bg{
	width: 100%;
}
#block1 .inner{
	position: absolute; /* розташовуватиметься відносно найближчного батьківського елемента з нетиповим значенням властивості position */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
#block1 .inner img.inner-img{
	height: 100px;
}
#block1 .inner .text{
	font-size: 32px;
	color: #FCEF03;
	text-shadow: 1px 1px 0px #51BFDD;
}
#block2{
	text-align: center;
	padding: 50px;
}
#block2 .block-name{
	font-size: 32px;
	font-weight: bold;
	padding: 50px;
	padding-top: 15px;
	color: #FFF;
}
#block2 .cards{
	position: relative;
	padding: 10px;
}
#block2 .cards .card{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	padding: 5px;
	width: 480px;
	height: 480px;
	color: #AAA;
	border-radius: 15px;
	transition-duration: 200ms;
}
#block2 .cards .card:hover{
	background-color: #000;
	box-shadow: 0 0 10px #000;
}
#block2 .cards .card .card-img{
	width: 480px;
	height: 270px;
	background-size: cover;			/* заповнює весь блок, мінімально обрізавши фонове зображення */
	background-position: 50% 50%;	/* положення фонового зображення */
	border-radius: 10px;
	transition-duration: 200ms;
}
#block2 .cards .card:hover .card-img{
	box-shadow: 0 0 5px #FF0;
}
#block2 .cards .card .text{
	padding: 10px;
	text-align: left;
	color: #aaa;
}
#block2 .cards .card .text .name{
	padding: 10px;
	font-size: 24px;
}
#block2 .cards .card .text .descr{
	padding: 10px;
	font-size: 16px;
}
#block2 .cards .card .author{

}
#block2 .cards .card .author .avatar{

}
#block2 .cards .card .author .data{

}
#block2 .cards .card .author .data .name{

}
#block2 .cards .card .author .data .rank{

}
#block2 .cards .card .author .data .date{

}
#footer{
	padding: 30px;				/* зміна */
	text-align: center;
	background-color: #222;
}
#footer .span{
	display: inline-block;
	vertical-align: top;
	text-align: right;
	margin: 16px;				/* зміна */
	font-size: 16px;
	color: #AAA;
}
#footer .span a{
	color: #AAA;
}
#footer .span a:hover{
	color: #FFF;
}
@media(max-width: 1080px){
	#header .btns-left{
		display: none;
	}
	#header .spec-btn{
		display: inline-block;
	}
	#header .btns-left.active{
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: rgba(34, 34, 34, 0.7);
	}
	#header .btns-left.active .btn{
		display: block;
	}
}
@media(max-width: 860px){
	#header{
		top: 0;
		left: 0;
		right: 0;
		position: sticky;
		border-radius: 0;
	}
}